<div class="container-narrow">
<%= link_to "Back to Home", root_path %>
<h3>About RewardBox</h3>
<p>RewardBox is a place to collect and redeem personal incentives to help you take on your least favorite activities.</p>
<p>We all have things we like doing less than others, and having a reward for finishing that job makes it easier to get started. This works particularly well if you are looking to build a habit for yourself - as recieving rewards lights up the brain that scientists believe is important for developing habits and routines.</p>
<h3>How it works</h3>
<p>This thing is really, really simple. You can create rewards through a simple form, and then redeem them when you've finished something hard/frustrating/not enjoyable. The app will randomly select one of the rewards you've created and give it to you. Congrats! Enjoy your reward - you deserve it.
<h3>Why does this exist?</h3>
<p>I built RewardBox for two reasons:
  <br><br>
  <strong>1) Because rewards are a powerful driver of behavior.</strong> If you look at our major habits, they were almost always driven and reinforced by rewards. Rewards target a very ancient part of the brain, called the limbic system, essentially creating strong memories and imprints around the activities that lead to the reward. I'm very passionate about personal behavior change and I wanted to create a product that helps us build better habits and motivate us to do less fun tasks. You can learn more about the science of habits with Charles Duhigg's excellent book: <a href="http://www.amazon.com/Power-Habit-What-Life-Business/dp/1400069289">The Power of Habit</a><br><br>
  <strong>2) Because I'm learning how to code.</strong> I've written a bit about why I think it's important to learn how to code, using Treehouse and the Ruby on Rails Tutorial app to learn how to write web applications. RewardBox was the most simple app idea that I felt compelled to build and I've learned a ton so far. There's a lot more I want to build, but while it's in a stable state, I wanted to get some external feedback. <%= link_to "Let me know what you think!", contact_path %></a></p>
  <h3>What's next for RewardBox?</h3>
  <p>RewardBox is very much a labor of love and not a big startup idea. I'm scratching my own itch and learning in the process. It does not do much right now, but since building this basic app, I now have a ton of ideas for where I can go with it. Here are some of things I'd like to build in the future -- no clue how long they'll take.</p>
  <ul>
  	<li>Making "size" of the reward meaningful by making larger rewards show up less frequently than smaller ones.</li>
  	<li>Adding a pomodoro timer to the rewards so you can't redeem a new reward until the timer is up</li>
  	<li>Attaching a task to each reward so you start to build a record of what you've done and the reward you got for it. Like a reverse to-do list.</li>
  	<li>Creating lists of pre-created rewards for people to import/start with.</li>
  	<li>Creating a feed for other people's rewards, and letting you "borrow" a reward you like from someone else</li>
  </ul>
  <p>Do you have ideas for RewardBox? <%= link_to "I'd love to hear from you.", contact_path %></p>

</div>
<div class="footer muted">
  <div class="container-narrow">
  <h3>About Jason</h3>
  <p>Jason is the co-founder of Ridejoy, a YC-backed startup, and a budding programmer. He hopes to develop RewardBox further in the future and would love to hear your thoughts on the app.<p>
  <p>You can follow Jason on Twitter at <a href="http://twitter.com/jasonshen">@jasonshen</a> and read his blog <a href="http://jasonshen.com">The Art of Ass-Kicking</a>.
  <p>Also, huge thank you to <a href-="http://teamtreehouse.com">Treehouse</a> and <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">http://Ruby on Rails Tutorial</a> for helping me learn how build all this.
  </div>

</div>