<div class="container-narrow">
<h1>About</h1>
<p>RewardBox is a web app that makes it fun and easy to reward yourself. You can create rewards for yourself and redeem them when you do something good or productive. You give it a set of set of rewards and when you get something done, click the button to receive a reward.</p>
<h3>The Science Behind Rewards</h3>
<p>Rewards are a powerful driver of behavior change. If you look at our major habits, chances are, they were created and reinforced by rewards. Rewards target a very ancient part of the brain, called the limbic system, essentially creating strong memories and imprints around the activities that lead to the reward. By using RewardBox, you can train yourself to get used to and form habits around good behaviors like exercising, eating well and doing productive work.</p>
<h3>About Jason</h3>
<p>RewardBox was built by Jason Shen as a side-project and a way to learn Ruby on Rails. Jason is a marketing guy and the co-founder of Ridejoy, a YC-backed startup. He hopes to develop RewardBox further in the future and would love to hear your thoughts on the app.<p>
<p>You can follow Jason on Twitter at <a href="http://twitter.com/jasonshen">@jasonshen</a>.
</div>