<div class="container-narrow">
<h3>Contact</h3>
<p>Feedback is a gift. I'd love to hear your suggestions, criticism, ideas or corrections for RewardBox. You can get in touch at:</p>
<p><strong>Blog:</strong> <a href="http://jasonshen.com">The Art of Ass-Kicking</a></p>
<p><strong>Twitter:</strong> <a href="http://twitter.com/jasonshen">@jasonshen</a></p>
<p><strong>Email:</strong> rewardboxapp // gmail
</div>